<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="Cloudish.NLog.SignalTarget"/>
    </extensions>
    <targets>
      <target name="params" type="SignalTarget" ServiceURL="https://api.cloudish.net/signal/logs/" ApiKey="6472587c1ab596af035f928d594942d5"/>
    </targets>
    <rules>
      <logger name="*" minLevel="Trace" appendTo="params" />
    </rules>
  </nlog>
</configuration>