<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="Cloudish.NLog.SignalTarget"/>
    </extensions>
    <targets async="true">
      <target name="CloudishSignalTarget" type="SignalTarget" 
              ServiceURL="https://localhost:44302/signal" 
              ApiKey="943085f4110ecc911befb8bc829ad1e1" 
              SignalType="MyApp" 
              Tags="tag1,tag2,etc"/>
    </targets>
    <rules>
      <logger name="*" minLevel="Trace" appendTo="CloudishSignalTarget" />
    </rules>
  </nlog>
</configuration>
